// 颜色相关
$color-bg: #f4f4f4;
$color-primary: #ff9600; //基础黄色
$color-border: #eee;
$color-gray: #999;
$color-price: #ff9600;

//距离相关
$padding: 0.4rem;
$padding-sm: 0.3rem;
$padding-xs: 0.2rem;
$margin: 0.4rem;

//
$radius: 3px;
